<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DatabaseType" value="0" />
		<add key="ConnectionString" value="UGVyc2lzdCBTZWN1cml0eSBJbmZvPUZhbHNlO0RhdGEgU291cmNlPXYtMjAwOC10ZXN0MTc7SW5pdGlhbCBDYXRhbG9nPVpKTkVUNTtVc2VyIElEPXNhO1Bhc3N3b3JkPUNpYXNAMTc7UGFja2V0IFNpemU9NDA5NjtQb29saW5nPXRydWU7TWF4IFBvb2wgU2l6ZT0xMDA7TWluIFBvb2wgU2l6ZT0x" />
		<add key="ErrorLogFileName" value="" />
		<add key="UploadPath" value="Upload\" />
	</appSettings>
	<connectionStrings />
	<system.web>
		<compilation debug="true">
		</compilation>
		<!--
        通过 <authentication> 节，可以配置
        ASP.NET 用于识别来访用户身份的
        安全验证模式。 
    -->
		<authentication mode="Windows" />
		<!--
        如果在执行请求的过程中出现未处理的错误，
        则可以通过 <customErrors> 节 
        配置相应的处理步骤。具体来说，
        开发人员可以通过该节配置
        将取代错误堆栈跟踪显示的 HTML 错误页。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
      -->
	</system.web>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="WcfServiceBehavior" name="HuaweiSoftware.Folder.FolderWCF">
				<endpoint address="" binding="customBinding" bindingConfiguration="MyBinding" contract="HuaweiSoftware.Folder.IFolderWCF" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WcfServiceBehavior">
					<serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" maxConcurrentInstances="100" />
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="MyBinding">
					<binaryMessageEncoding maxReadPoolSize="2147483647" maxSessionSize="2147483647" maxWritePoolSize="2147483647">
						<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxStringContentLength="2147483647" />
					</binaryMessageEncoding>
					<httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Buffered" />
				</binding>
			</customBinding>
			<basicHttpBinding>
				<binding name="LargeDataTransferServicesBinding" maxReceivedMessageSize="2147483647" messageEncoding="Text" transferMode="Buffered" sendTimeout="00:10:00" />
			</basicHttpBinding>
		</bindings>
		<!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
	</system.serviceModel>
</configuration>