<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>


	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WcfServiceBehavior">
					<serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" maxConcurrentInstances="100" />
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="MyBinding">
					<binaryMessageEncoding maxReadPoolSize="2147483647" maxSessionSize="2147483647" maxWritePoolSize="2147483647">
						<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxStringContentLength="2147483647" />
					</binaryMessageEncoding>
					<httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Buffered" />
				</binding>
			</customBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="WcfServiceBehavior" name="CustomBinding_IFolderWCF">
				<endpoint address="" binding="customBinding" bindingConfiguration="MyBinding" contract="FolderWCFReference.IFolderWCF" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
